<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/global.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/js/bank.js"></script>
</head>
<body>
	<div class="container_box">
		<div th:include="temp/header :: .header_box"></div>
		<div>
			<span>통장</span>
			<button id="accountDeleteBtn">삭제</button>
			<button id="accountModifyBtn">수정</button>
			<button id="accountAddBtn">추가</button>
			<div class="accountInputBox hidden">
				<input type="text" id="accountInput">
				<button type="button" id="accountInputSubmitBtn"></button>
			</div>
			<div th:if="${account != null}">
				<ul th:each="account, iterStat : ${account}">
					<li>
						<input type="radio" th:value="${account.name}" name="account" class="accountList" th:data-index="${iterStat.index}">
						<span th:text="${category}"></span>
					</li>
				</ul>
			</div>
			<div th:if="${account == null}">
				카테고리가 없습니다.
			</div>
		</div>
		<div>
			<span>카드</span>
			<button id="expenseCategoryDeleteBtn">삭제</button>
			<button id="expenseCategoryModifyBtn">수정</button>
			<button id="expenseCategoryAddBtn">추가</button>
			<div class="expenseInputBox hidden">
				<input type="text" id="expenseCategoryInput">
				<button type="button" id="expenseCategoryInputSubmitBtn"></button>
			</div>
			<div th:if="${expenseCategory != null}">
				<ul th:each="category, iterStat : ${expenseCategory}">
					<li>
						<input type="radio" th:value="${category}" name="expenseCategory" class="expenseCategory" th:data-index="${iterStat.index}">
						<span th:text="${category}"></span>
					</li>
				</ul>
			</div>
			<div th:if="${expenseCategory == null}">
				카테고리가 없습니다.
			</div>
		</div>
	
	
	</div>
	
</body>
</html>